*{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    max-height: 100vh;
    min-height: 100vh;
    margin: 0px auto;
    box-sizing: content-box;
}
.main-bg{
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
    "A B B B";
}
.contacts{
    grid-area: A;
    min-height: 100vh;
    max-height: 100vh;
}
.contacts .profile{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 8vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
    "A B B C"
    "A D D C";
    place-items: center;
}
.contacts .profile .avatar{
    grid-area: A;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    border-radius: 50%;
}
.contacts .profile .nickname{
    grid-area: B;
    margin-top: 10px;
    justify-self: start;
}
.contacts .profile .id{
    grid-area: D;
    margin-bottom: 10px;
    justify-self: start;
    color: gray;
}
.contacts .profile .settings{
    grid-area: C;
    width: 25px;
    height: 25px;
}
.contacts .search{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contacts .search .search-contact{
    height: 25px;
    width: 400px;
    padding: 5px 5px 5px 10px;
    border-radius: 25px;
    border: 1px solid gray;
}
.contacts .contacts-list{
    
}
.contacts .contacts-list .list-users::-webkit-scrollbar {
    width: 7px;
}
.contacts .contacts-list .list-users::-webkit-scrollbar-track {
    background-clip: content-box;
    box-shadow: inset 0 0 0.1px rgba(85, 85, 85, 0.1);
}
.contacts .contacts-list .list-users::-webkit-scrollbar-thumb  {
    background-color: rgba(169, 169, 169, 0.5);
    outline: 0.1px solid rgba(112, 128, 144, 0.5);
    border-radius: 6px;
}
.contacts .contacts-list .list-users{
    height: 83.5vh;
    list-style-type: none;
    overflow: auto;
}
.contacts .contacts-list .list-users .item-user:hover{
    background-color: gray;
    cursor: pointer;
}
.contacts .contacts-list .list-users .item-user{
    height: 64px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
    "A B B D"
    "A C C D";
    place-items: center;
}
.contacts .contacts-list .list-users .item-user .avatar{
    grid-area: A;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.contacts .contacts-list .list-users .item-user .nickname{
    grid-area: B;
    justify-self: start;
    margin-top: 10px;
}
.contacts .contacts-list .list-users .item-user .last-message{
    grid-area: C;
    width: 200px;
    justify-self: start;
    overflow: hidden;
    text-overflow: ellipsis;
}
.contacts .contacts-list .list-users .item-user .time{
    grid-area: D;
    justify-self: end;
}

.message{
    grid-area: B;
    background-image: url(img/fon2.jpg);
    min-height: 100vh;
    max-height: 100vh;
    /*min-width: 100%; */
    height: 100vh;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.message .text-bg{
    width: 100%;
    height: 100%;
    display: grid;
    place-content: center;
}
.message .message-bg{
    display: none;
}
.message .text-bg .text{
    z-index: 100;
    color: white;
    font-size: 25px;
    background-color: gray;
    padding: 15px;
    border-radius: 50px;
}
.message .info-menu{
    height: 8vh;
    background-color: white;
    border-left: 1px solid black;
    display: grid;
    grid-template-columns: 50px 1fr 1fr;
    grid-template-areas: 
    "B A C"
    "B D C";
    place-items: center;
}
.message .info-menu .back:hover{
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;
}
.message .info-menu .back{
    grid-area: B;
    margin-left: 20px;
    justify-self: start;
    display: none;
}
.message .info-menu .nickname{
    grid-area: A;
    margin-left: 20px;
    margin-top: 10px;
    justify-self: start;
}
.message .info-menu .status{
    grid-area: D;
    margin-left: 20px;
    margin-bottom: 10px;
    justify-self: start;
    color: gray;
}
.message .info-menu .search{
    grid-area: C;
    margin-right: 60px;
    justify-self: end;
}
.message .info-menu .menu{
    grid-area: C;
    justify-self: end;
    margin-right: 20px;
}

.message .message-list{
    height: 84vh;
    display: flex;
    flex-direction: column;
}
.message .message-list .message-receive{
    align-self: flex-start;
    display: grid;
    grid-template-columns: 50px 1f;
    grid-template-areas: 
    "A B";
    place-items: center;
}
.message .message-list .avatar-receive{
    grid-area: A;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.message .message-list .text-receive-bg{
    grid-area: B;
    background-color: gray;
    border-radius: 25px;
    padding: 10px;
    max-width: 300px;
    min-width: 50px;
}
.message .message-list .text-receive{
    color: white;
    font-size: 20px;
}
.message .message-list .time-receive{
    color: white;
    font-size: 10px;
    float: right;
}
.message .message-list .message-send{
    align-self: flex-end;
    display: grid;
    grid-template-columns: 1f 50px;
    grid-template-areas: 
    "A B";
    place-items: center;
}
.message .message-list .avatar-send{
    grid-area: B;
    height: 25px;
    width: 25px;
    border-radius: 50%;
}
.message .message-list .text-send-bg{
    grid-area: A;
    background-color: gray;
    border-radius: 25px;
    padding: 10px;
    max-width: 300px;
    min-width: 50px;
}
.message .message-list .text-send{
    color: white;
    font-size: 20px;
}
.message .message-list .time-send{
    color: white;
    font-size: 10px;
    float: right;
}
.message .send-menu{
    height: 8vh;
    background-color: white;
    border-left: 1px solid black;
    display: grid;
    grid-template-areas: 
    "A B B B C"
    "A B B B C";
    place-items: center;
}
.message .send-menu .attachment{
    grid-area: A;
    justify-self: start;
    margin-left: 20px;
}
.message .send-menu .send-message{
    grid-area: B;
    justify-self: start;
    height: 25px;
    width: 100%;
    padding: 5px 5px 5px 10px;
    border-radius: 25px;
    border: 1px solid gray;
}
.message .send-menu .smile{
    grid-area: C;
    margin-right: 60px;
    justify-self: end;
}
.message .send-menu .microphone{
    grid-area: C;
    height: 30px;
    justify-self: end;
    margin-right: 20px;
}

@media screen and (max-width: 900px){
    .main-bg{
        border-right: 0px;
        height: 100vh;
        grid-template-areas: 
        "A A A A";
    }
    .contacts{
        grid-area: A;
    }
    .message{
        grid-area: B;
        display: none;
    }
    .contacts .profile{
        border-right: 0px;
    }
    .contacts .search{
        border-right: 0px;
    }
    .message-bg .info-menu .back{
        display: block;
    }
    .message .info-menu{
        border-left: 0px;
    }
    .message .send-menu{
        border-left: 0px;
    }
}